@import "@nuxt/ui";
@import "tailwindcss";

@theme static {
  --font-sans: "Public Sans", sans-serif;

  --color-DacYellow: #d6a760;
  --color-DacYellow-100: #fff3cc;
  --color-DacYellow-300: #ffd966;
  --color-DacYellow-400: #ffcc33;
  --color-DacYellow-500: #e9b44c;
  --color-DacYellow-600: #cc9933;
  --color-DacYellow-700: #996600;

  --color-DacBrown: #422f32;
  --color-DacBrown-Lighter: #6c4551;

  --color-DacBlack: #0a0e15;
  --color-DacBlack-900: #212631;
  --color-DacBlack-800: #373f4e;
  --color-DacBlack-700: #4e576a;
  --color-DacBlack-600: #667085;

  /* --color-DacWhite: #f7f7f7; */
  --color-DacWhite: #ffffff;
  --color-DacWhite-600: #bfc6d4;
  --color-DacWhite-700: #d1d6e0;
  --color-DacWhite-800: #e0e4eb;
  --color-DacWhite-900: #f0f1f5;

  --color-DacPurple: rgb(166 129 255 / 1);
}

:root {
  --ui-primary: var(--color-DacBrown);
  --ui-secondary: var(--color-DacYellow);
  --ui-tertiary: var(--color-DacPurple);
  --ui-info: var(--color-DacBlack);
  --ui-success: var(--color-green-500);
  --ui-warning: var(--color-DacYellow-500);
  --ui-error: #ef4444;
}

/* Cursor */

*{
  @apply cursor-none;
}
.cursor {
  @apply w-2 h-2 rounded-full bg-DacBrown top-0 left-0 fixed pointer-events-none z-50 transform -translate-x-1/2 -translate-y-1/2;
}
.cursor-circle {
  @apply w-6 h-6 rounded-full border-1 fixed pointer-events-none top-0 left-0 border-DacBrown z-40 transform -translate-x-1/2 -translate-y-1/2 bg-black/20;
}

@media (prefers-color-scheme: dark) {
  .cursor {
    background-color: var(--color-DacWhite);
  }
  .cursor-circle {
    border-color: var(--color-DacWhite);
  }
}

/* Cursor End */

/* header */

.header-scrolled{
  @apply top-4 ease-out translate-x-0 bg-DacWhite/0
}

.header-scrolled nav {
  @apply rounded-full transition-all duration-300 backdrop-blur-xs translate-x-full bg-DacWhite/15
}

.header-scrolled nav ul {
  @apply justify-center;
}

/* header end */

body{
  background:radial-gradient(125% 125% at 50% 90%, #f1f1f1 40%, #f8c366 100%); 
  background-size: 100% 100%
}