@import "@nuxt/ui";
@import "tailwindcss";

@theme static {
  --font-sans: "Public Sans", sans-serif;

  --color-DacYellow: #d6a760;
  --color-DacYellow-100: #fff3cc;
  --color-DacYellow-300: #ffd966;
  --color-DacYellow-400: #ffcc33;
  --color-DacYellow-500: #e9b44c;
  --color-DacYellow-600: #cc9933;
  --color-DacYellow-700: #996600;

  --color-DacBrown: #422f32;
  --color-DacBrown-Lighter: #6c4551;

  --color-DacBlack: #0a0e15;
  --color-DacBlack-900: #212631;
  --color-DacBlack-800: #373f4e;
  --color-DacBlack-700: #4e576a;
  --color-DacBlack-600: #667085;

  /* --color-DacWhite: #f7f7f7; */
  --color-DacWhite: #ffffff;
  --color-DacWhite-600: #bfc6d4;
  --color-DacWhite-700: #d1d6e0;
  --color-DacWhite-800: #e0e4eb;
  --color-DacWhite-900: #f0f1f5;

  --color-DacPurple: rgb(166 129 255 / 1);

  --nav-duration: 700ms;
}

:root {
  --ui-primary: var(--color-DacBrown);
  --ui-secondary: var(--color-DacYellow);
  --ui-tertiary: var(--color-DacPurple);
  --ui-info: var(--color-DacBlack);
  --ui-success: var(--color-green-500);
  --ui-warning: var(--color-DacYellow-500);
  --ui-error: #ef4444;
}

/* Cursor */

*{
  @apply cursor-none;
}
.cursor {
  @apply w-2 h-2 rounded-full bg-DacBrown top-0 left-0 fixed pointer-events-none z-50 transform -translate-x-1/2 -translate-y-1/2;
}
.cursor-circle {
  @apply w-6 h-6 rounded-full border-1 fixed pointer-events-none top-0 left-0 border-DacBrown z-40 transform -translate-x-1/2 -translate-y-1/2 bg-black/20;
}

@media (prefers-color-scheme: dark) {
  .cursor {
    background:transparent;
    backdrop-filter: invert(1);
  }
  .cursor-circle {
    border-color: var(--color-DacWhite);
  }
}

/* Cursor End */

body{
  @apply m-auto
}

body>div{
  @apply w-[calc(100dvw-1.5rem)] m-auto rounded-4xl overflow-hidden;
}

.corner {
	@apply absolute aspect-square h-1/2 bg-[radial-gradient(circle_at_0%_100%,_transparent_2em,_white_2em)];
}

.corner.left{
  @apply -left-[1.88em];
}

.corner.top-left{
  @apply top-0 -left-0 rotate-270;
}

.corner.right{
  @apply -right-0 top-full;
}

.corner.bottom{
  @apply -bottom-8 left-0;
}

.slideNavLeft{
  @apply -translate-x-[100vw] duration-[var(--nav-duration)];
}

.slideTransformSize{
  @apply absolute -top-4 left-0 w-[60dvw] h-[100dvh] bg-DacWhite z-50 flex flex-col items-center justify-center gap-4 rounded-[0_1em_1em_0];
}