@import "@nuxt/ui";
@import "tailwindcss";

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-VariableFont_opsz,wght.ttf') format('truetype');
  font-display: swap;
}

@theme static {
  --font-sans: "Inter", sans-serif;
  --font-serif: "Georgia", serif;

  --color-DacYellow: #d6a760;
  --color-DacYellow-100: #fff3cc;
  --color-DacYellow-300: #ffd966;
  --color-DacYellow-400: #ffcc33;
  --color-DacYellow-500: #e9b44c;
  --color-DacYellow-600: #cc9933;
  --color-DacYellow-700: #996600;

  --color-DacBrown: #422f32;
  --color-DacBrown-Lighter: #6c4551;

  --color-DacBlack: #0a0e15;
  --color-DacBlack-900: #212631;
  --color-DacBlack-800: #373f4e;
  --color-DacBlack-700: #4e576a;
  --color-DacBlack-600: #667085;

  /* --color-DacWhite: #f7f7f7; */
  --color-DacWhite: #ffffff;
  --color-DacWhite-600: #bfc6d4;
  --color-DacWhite-700: #d1d6e0;
  --color-DacWhite-800: #e0e4eb;
  --color-DacWhite-900: #f0f1f5;

  --darkTransparent: rgba(0 0 0 / 0.4);

  --color-DacPurple: rgb(166 129 255 / 1);

  --nav-duration: 200ms;
}

:root {
  --ui-primary: var(--color-DacBrown);
  --ui-secondary: var(--color-DacYellow);
  --ui-tertiary: var(--color-DacPurple);
  --ui-info: var(--color-DacBlack);
  --ui-success: var(--color-green-500);
  --ui-warning: var(--color-DacYellow-500);
  --ui-error: #ef4444;
}

/* Cursor */

*{
  @apply sm:cursor-none;
}

a{
  line-height: normal;
}
.cursor {
  @apply hidden sm:flex w-2 h-2 rounded-full bg-DacBrown top-0 left-0 fixed pointer-events-none z-50 transform -translate-x-1/2 -translate-y-1/2;
}
.cursor-circle {
  @apply hidden sm:flex w-6 h-6 rounded-full border-1 fixed pointer-events-none top-0 left-0 border-DacBrown z-40 transform -translate-x-1/2 -translate-y-1/2 bg-black/20;
}

@media (prefers-color-scheme: dark) {
  .cursor {
    background:transparent;
    backdrop-filter: invert(1);
  }
  .cursor-circle {
    border-color: var(--color-DacWhite);
  }
}

/* Cursor End */

body{
  @apply m-auto
}

body>div{
  @apply sm:w-[calc(100%-1.5rem)] m-auto rounded-4xl overflow-hidden;
}

header{
  /* filter: drop-shadow(0px 0px 2px #ccc); */
}

header .corners, header .corner{
  @apply -mt-0.5
}

.addon{
  @apply -mb-0.5
}

.hero div{
  @apply z-10
}

.corner {
	@apply absolute aspect-square h-1/2;
  --corner-color: white;
  background-image: radial-gradient(circle at 0% 100%, transparent 2em, var(--corner-color) 2em);
}

.corner.left{
  @apply -left-[1.88em];
}

.corner.top-left{
  @apply top-0 -left-0 rotate-270 h-8;
}

.corner.right{
  @apply -right-0 top-full;
}

.corner.bottom{
  @apply -bottom-8 left-0;
}

.corner-rotate-180{
  @apply rotate-180;
  background-image: radial-gradient(circle at 0% 100%, transparent 2.5em, var(--corner-color) 2.5em);
}

.corner-rotate-90{
  @apply rotate-90;
  background-image: radial-gradient(circle at 0% 100%, transparent 2.5em, var(--corner-color) 2.5em);
}

.corner.yellow {
  /* --corner-color: var(--color-DacYellow-100); */
}

.show-nav{
  @apply fixed left-0 w-full rounded-[0_0_1rem_1rem] top-0 h-full;
}

.show-nav .toggle-button{
  @apply absolute top-0 right-8 opacity-0
}

.show-nav nav{
  @apply h-auto;
}

.show-nav nav ul{
  @apply mt-18 flex flex-wrap flex-row
}

.nav-overlay{
  @apply opacity-0 pointer-events-none bg-[rgba(0,0,0,0.4)] h-[100dvh] w-[100dvw] sm:-left-3 -top-4 left-0;
}
nav .closeButton{
  @apply absolute top-8 right-8
}

.item-active{
  @apply invert-100 duration-75;
}

.show-nav .logo{
  @apply absolute top-4 left-4
}

/* nav .active-tracker{
  @apply duration-[0ms]
} */

.show-nav .active-tracker{
  @apply rounded-lg
}

.show-nav .tag{
  display:flex;
}

.r-clip{
  clip-path: polygon(0% 14.52%, 27.28% 48.48%, 37.46% 58.2%, 55.64% 72.92%, 98.38% 100%, 0% 100%, 0% 30.25%);
}

@theme{
  --animate-myWiggle: wiggle 10s linear infinite;

  @keyframes wiggle {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(10deg); }
    50% { transform: rotate(0deg); }
    75% { transform: rotate(-10deg); }
    100% { transform: rotate(0deg); }
  }
}

@theme {
  --breakpoint-landscape: (orientation: landscape);
  --breakpoint-mobile: (max-width: 640px);
}